<div class="container py-3">
  <div class="d-flex flex-column align-items-center my-3">
    <h1>Account Login</h1>
    <form class="d-flex flex-column align-items-center my-3" action="/login" method="POST">
      <input type="text" placeholder="Email" name="email" class="form-control my-2">
      <input type="password" placeholder="Password" name="password" class="form-control my-2">
      <button class="btn btn-primary my-3">Sign in</button>
    </form>
  </div>
</div>